.badge {
  position: relative;

  &--content {
    position: absolute;
    bottom: 0%;
    right: -60%;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    background-color: crimson;
    color: white;
    transform: scale(0.75);
  }
}
