* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Zen Kaku Gothic New', 'Montserrat', sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all linear 200ms;
  
  &:hover {
    color: aqua;
  }
}
